<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>Untitled Document</title>

<link href="../styles/FreeLanceStyles.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="Wrapper">
	
  <div id="Banner">
	  
  <img src="../images/C RAB TECH.png" width="1200" height="200" alt=""/>
 </div>
	
	<div id ="nav"> 
   <ul class="navmenu">
		<li><a href="../index.html">Home</a></li>
		<li><a href="../package deals.html">Packages</a></li>
		<li><a href="../frequently asked questions.html">Frequently Asked Questions</a></li>
		<li><a href="../Contact Us.html">Contact Us</a></li>
		</ul>
	</div>
	
  <div class="main">
	  <!-- TemplateBeginEditable name="content" -->
	  	  
    <h1 style="font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', monospace"> Home </h1>
    <p style="font-size: 40px">Welcome to CrabTech! This started as a small local Web Design company to help design websites for cheaper! After conquering Doylestown's side of the web, we decided to move to the next level. We hired a bigger team and started working with bigger companies. We're now trying to grow as large as possible, while shutting down the &quot;top shelf&quot; stealing Web Design companies charging you thousands a site! Our  mission is to expand across the internet showing what real web designing looks  like and were looking for your help to start. So what are you waiting for? Join the movement, join CrabTech.</p>
 
	  <!-- TemplateEndEditable -->
  </div>
	
	<div id="footer">
	  <table width="500" border="0" cellspacing="30" cellpadding="0">
	    <tbody>
	      <tr>
	        <td><p>Designer: NickCrabtree@CrabTech.com</p>
	          <p>(610)(349)(2383)</p>
	          <p>©CrabTechDesigns. All rights reserved. </p>
            <p>&nbsp;</p></td>
	        <td><img src="../images/logos1.png" width="831" height="187" alt=""/></td>
          </tr>
        </tbody>
      </table>
	  <p>&nbsp;</p>
	</div>
	
</div> <!--wrap end-->

	
	
</body>
</html>
